* {
    font-family: Poppins;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin-top: 32px;
    margin-left: 42px;
}

.Link-header {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #17233D;
    cursor: pointer;
    margin-right: 34px;
    width: 79px;
}

.button-header {
    border-radius: 10px;
    border: 1px solid #4CB538;
    background: #6FBF44;
    width: 124px;
    height: 51px;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px ;
    cursor: pointer;
}

.logo-image {
    width: 595px;
    height: 500px;
    margin-left: 121px;
}

img {
    margin: 177px 0 0 121px;
    display: inline-block;
}

h1 {
    color: #161A49;
    font-size: 62px;
    font-weight: 700;
    line-height: 82px;
    width: 582px;
}

p {
    color: #4B505A;
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
    width: 493px;
    margin-top: 47px;
}

section {
    display: inline-block;
    margin-left: 84px;
}

.button-learn {
    color: #6FBF44;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 55px;
}